@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
  padding: 10px;
  background-color: rgb(211, 211, 211);
  height: 90px;
}

.header-img{
  height:90px;
  width:140px;
}

.search-container{
  display:Flex;
  gap:5px;
}


.searchBox {
  height: 40px;
  width: 300px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.search-button {
  cursor:pointer;
  text-align: center;
  border: none;
  border-radius: 50%;
  background: none;
  
}

.search-button img{  
  width:40px;
  height:100%;
}

.search-button:hover{
  transition: 0.5s;
  transform: scale(1.2);
}

#show-more{
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: blueviolet;
  color: white;
  font-weight: 500;
  cursor:pointer;
}

.align{
  display:flex;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 200px;
  min-height: 207px;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  transition: 0.5s;
}

.card-main:hover{
  transform: scale(1.1)
}



.card-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-empty {
  display: none;
}



#img-container img {
  width: 80px;
 
}

#type1,
#type2 {
  font-size: 12px;
}

#pokemon-types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#pokemon-types span {
  width:70px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
}

.all-container{
  display:grid;
  grid-template-columns: 100px 100px 100px;
  gap:20px;  
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .all-container{
    display:grid;
    grid-template-columns: 100px 100px;
    gap:20px;  
    justify-content: space-around;
  }

  header{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:0;
  }

   .search-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7px;
    padding:10px;
  }

  
  @media screen and (max-width:400px) {
    .all-container{
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    header{
      display: flex;
      flex-direction: column;
      height: 100%;
      gap:0;
    }

    .search-container{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:7px;
      padding:10px;
    }
  
    
  }
 
  
}





.undefined{
 display: none;
}

.FIRE {
  background-color: rgb(255, 88, 88);
}
.GRASS {
  background-color: rgb(135, 255, 111);
}
.WATER {
  background-color: rgb(111, 185, 255);
}
.ELECTRIC {
  background-color: rgb(255, 244, 93);
}
.POISON {
  background-color: rgb(225, 148, 255);
}
.NORMAL {
  background-color: rgb(255, 250, 245);
}
.BUG {
  background-color: rgb(246, 229, 253);
}

.FLYING {
  background-color: rgb(226, 226, 226);
}

.GROUND {
  background-color: rgb(161, 89, 6);
}

.FAIRY {
  background-color: rgb(255, 185, 243);
}

.FIGHTING {
  background-color: rgb(212, 84, 62);
}

.PSYCHIC {
  background-color: rgb(234, 1, 255);
}

.ROCK {
  background-color: rgb(112, 68, 57);
}

.STEEL {
  background-color: rgb(100, 100, 100);
}

.ICE {
  background-color: rgb(31, 94, 177);
}

.GHOST {
  background-color: rgb(88, 36, 107);
}

.DRAGON {
  background-color: rgb(255, 164, 103);
}

.DARK {
  background-color: rgb(65, 65, 65);
}


